---
layout: archive
permalink: /news/
title: "News"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<ul style="font-size: 0.8em"> 
{% for post in site.posts %}
<li>{{ post.date | date: '%Y-%m' }}: <a href= {{post.url}}><b>{{ post.title }}</b></a></li>
{% endfor %}
</ul>

{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
